<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="titleicon4">Just Market</ion-title>
  </ion-navbar>
  <ion-searchbar class="searchBar" (ionInput)="filtraT()" [(ngModel)]="cerca"></ion-searchbar>
</ion-header>
<ion-fab bottom right>
  <button ion-fab mini (click)="showCheckbox()"><ion-icon ios="ios-funnel" md="md-funnel"></ion-icon></button>
</ion-fab>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let prod of listaTotaleFiltrata">

      <ion-thumbnail item-start>
        <img src="{{prod.img}}">
      </ion-thumbnail>
      <h2><strong>{{prod.marca}}</strong></h2>
      <h5>{{prod.nome}}</h5>
      <p *ngIf="prod.quantita>0">{{prod.prezzoUnitario}}€</p>
      <p *ngIf="prod.quantita>0">{{prod.quantita}}</p>
      <p *ngIf="prod.quantita==0"><strong>Terminato</strong></p>

      <button ion-button (tap)="aggiungiAlCarrello(prod)" clear item-end><img width=20px src="assets/images/shopping.png"></button>
    </ion-item>
  </ion-list>


</ion-content>
