page-home {

}
.textClass{
  color: #CB0A0A!important;
}

.boxShad{
  box-shadow: 5px 5px 7px grey!important;
  font-size: larger;
}

.spazio{
  margin: 20px;
}

.titleicon2 div{
  font-weight: 800;
  font-size: 25px;
}
