<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrello</ion-title><ion-title class="pull-right">Prezzo totale: {{prezzoTotale | number: '1.2-2'}}€</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="listaCarrello.length==0">
      <h2><strong>Non ci sono prodotti nel Carrello</strong></h2>
     </ion-item>
    <ion-item *ngFor="let prod of listaCarrello">

      <h2><strong>{{prod.marca}}</strong></h2>
      <h5>{{prod.nome}}</h5>
      <p>{{prod.prezzoUnitario}}€ x {{prod.quantitaDaAcquistare}} = {{prod.prezzoUnitario*prod.quantitaDaAcquistare}}€
      </p>


      <button ion-button (tap)="deleteCarrello(prod)" clear item-end><ion-icon style="font-size: 30px" ios="ios-trash danger" md="md-trash"></ion-icon></button>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="trollo === 'true'" class="checkout"><select class="carte" [(ngModel)]="crediCard" >
    <option hidden>Seleziona Carta</option>
    <option *ngFor="let card of listaCarte" name="crediCard" value="{{card.id}}">{{card.numeroCarta}}</option>
  </select></ion-item>

  <ion-item *ngIf="trollo === 'true'" class="checkout">
    <button (tap)="buyCarrello()">Checkout</button>
  </ion-item>

</ion-content>
