<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista Prodotti</ion-title>
    <ion-segment [(ngModel)]="prodotti">
      <ion-segment-button value="tot">
        Prodotti
      </ion-segment-button>
      <ion-segment-button value="sco">
        Offerta
      </ion-segment-button>
      <ion-segment-button value="nsco">
        Non Scontati
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div [ngSwitch]="prodotti">

    <ion-list *ngSwitchCase="'tot'">
      <ion-searchbar (ionInput)="filtraT()" [(ngModel)]="cerca"></ion-searchbar>
      <ion-item *ngFor="let p of listaTotaleFiltrata">
        <ion-thumbnail item-start>
          <img src="{{p.img}}">
        </ion-thumbnail>
        <h2>{{p.nome}} {{p.marca}}</h2>
        <p>Prezzo: {{p.prezzoIvato}}</p>
        <p>Quantità disponibile: {{p.quantita}}</p>
          <button ion-button full icon-only (click)="aggiungiAlCarrello(p)" *ngIf="trollo === 'true'">
            <ion-icon name="add"></ion-icon></button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'sco'">
      <ion-searchbar (ionInput)="filtraT()" [(ngModel)]="cerca"></ion-searchbar>
      <ion-item *ngFor="let p of listaFiltrataOfferte">
        <ion-thumbnail item-start>
          <img src="{{p.img}}">
        </ion-thumbnail>
        <h2>{{p.nome}} {{p.marca}}</h2>
        <p>Prezzo: {{p.prezzoIvato}}</p>
        <p>Quantità disponibile: {{p.quantita}}</p>
        <p>Sconto: {{p.sconto}}</p>
        <button ion-button full icon-only (click)="aggiungiAlCarrello(p)" *ngIf="trollo === 'true'">
          <ion-icon name="add"></ion-icon></button>
      </ion-item>
    </ion-list>

  <ion-list *ngSwitchCase="'nsco'">
    <ion-searchbar (ionInput)="filtraT()" [(ngModel)]="cerca"></ion-searchbar>
    <ion-item *ngFor="let p of listaFiltrataSenzaOfferte">
      <ion-thumbnail item-start>
        <img src="{{p.img}}">
      </ion-thumbnail>
      <h2>{{p.nome}} {{p.marca}}</h2>
      <p>Prezzo: {{p.prezzoIvato}}</p>
      <p>Quantità disponibile: {{p.quantita}}</p>
      <button ion-button full icon-only (click)="aggiungiAlCarrello(p)" *ngIf="trollo === 'true'">
        <ion-icon name="add"></ion-icon></button>
    </ion-item>
  </ion-list>
  </div>

</ion-content>
